@use 'base/variables' as v;

.iconos {
	margin-top: v.$separacion;

	.listado-iconos {
		li {
			img {
				margin: 0 auto;
				width: 12rem;
			}

			p {
				font-family: v.$fuenteCursiva;
				font-size: 3.2rem;
				color: v.$primario;
			}
		}
	}
}
